

 <div class="product-card">
  <div class="card">
    <img [src]="product.imageUrl" class="card-img-top" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.brand }}</h5>
      <p class="card-text">{{ product.title }}</p>
      <p class="card-text">{{product.color}}</p>
    </div>
    <div class="d-flex card-price">
      <p class="first">${{product.discountedPrice}}</p>
      <p class="second text-decoration-line-through">${{product.price}}</p>
      <p class="third">{{product.disscount}}%</p>
    </div>
  </div>
</div>
